#experience {
  padding: 20px;
  background-color: #a8bbc0;

  h1 {
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 20px;
    color: #000;
  }

  .card {
    padding: 5px;
    background-color: #839b88;
    &:focus,
    &:hover {
      background-color: #925b71;
      transform: translateY(-10px);
    }
  }
}
